section.connect__platforms
    .connect__container
        .connect__spotify
            .connect__icon
                img(src='/img/Spotify_Logo_RGB_Green.png' alt='Connect to your Spotify account')
            a#spotify__auth.btn.spotify__btn.connect__correct-skew(href='/spotify/login') Connect
        .connect__youtube
            .connect__icon
                img(src='/img/youtube-dark-bg.png' alt='Connect to your YouTube account')
            a#youtube__auth.btn.youtube__btn.connect__correct-skew(href='/youtube/login') Connect
        .connect__soundcloud
            .connect__icon
                img(src='/img/soundcloud-white.png' alt='Connect to your Soundcloud account')
            a#soundcloud__auth.btn.soundcloud__btn.connect__correct-skew(href='/soundcloud/login') Connect
        .connect__discogs
            .connect__icon
                img(src='/img/discogs-logo-white.png' alt='Connect to your Discogs account')
            a#discogs__auth.btn.discogs__btn.connect__correct-skew(href='/discogs/login') Connect