.user
    .user__logged-out
        a(href='/login') Login
        a(href='/signup') Signup
    .user__logged-in.user__hide
        .user__photo
            img(href='#' alt=`user.name profile picture`)
        .user__account
            h4 user.name
            h4(href='/me') my account