extends base

block content
    main.results
        section.soundcloud
            | soundcloud
        section.youtube
            | youtube
        section.spotify
            | spotify
        section.discogs
            | discogs