// CLEARFIX
// Elements after a floating element will flow around it. Use the "clearfix" hack to fix the problem
@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin imgMax {
    width: 100%;
    height: 100%;
}
