.header {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    padding: 1rem;

    &__logo {
        width: 15vw;
        height: 100%;

        &-img {
            @include imgMax;
        }
    }

    &__info {
        width: 55vw;
        height: 100%;
        line-height: 1;
        padding-left: 5rem;

        & h2 {
            text-align: right;
            transform: translateX(20rem);
        }
    }

    &__streams {
        display: flex;
        align-items: flex-start;
        width: 25vw;
        height: 100%;
        padding-top: 2rem;
    }

    &__stream {
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        margin-right: 3rem;

        &-img {
            @include imgMax;
        }
    }
}
